body{
    /*background-image: url('../images/bg.jpg') 100% 100%;*/
    background: url("../images/bg.jpg");
    background-attachment:fixed;
    background-size: 100%;
}


a{
    text-decoration: none;
}
#header{
    margin: 0 auto;
    width: 95%;
    height: 60px;
    border-radius: 5px;
    background-color: #f2e9e9;
    opacity: 0.6;
}
#header h1{
    position: absolute;
    line-height: 20px;
    margin-left: 50px;
}
#header ul{
    position: absolute;
    list-style: none;
    margin-left: 400px;
    margin-top: 8px;
}
#header ul li{
    height: 45px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 20px;
    width: 120px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    background-color: #d3cfcf;
}
#header h4{
    display: inline-block;
    margin-left: 1200px;
}
#header a{
    text-decoration: none;
    color: black;
}