body{
    
    background: url("../images/bge.jpg");
   background-attachment:fixed;
    background-size: 100%;
}

#Login_Register{
    width: 30%;
    height:300px;
    margin: 150px auto;
    border-radius: 10px;
    background-color: #e7e7e7;
    opacity: 0.7;
    padding: 1px;
}
#Login_Register h2{
    text-align: center;
}
#Login_Register h3{
    text-align: center;
}
#Login_Register form{
    text-align: center;
}
#Login_Register input{
    width: 150px;
    height: 25px;
    margin-top: 20px;
    border-radius: 4px;
}
#Login_Register button{
    margin-top: 10px;
    font-weight: bolder;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: dimgray;
}
#Login_Register button:hover{
    background-color: #d58512;
}